@import "~bootstrap/scss/bootstrap";
@import "~react-loading-skeleton/dist/skeleton";
@import "~react-toastify/dist/ReactToastify";

#stockDetails {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: absolute;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  right: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  //padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidebar */
}

#searchForm {
  background-color: #ffffff;
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchInput {
  all: unset;
  font: 16px system-ui;
  color: rgb(51, 51, 51);
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

#searchButton {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

#searchSVG {
  color: rgb(104, 104, 104);
  fill: currentColor;
  width: 45px;
  height: 45px;
  padding: 10px;
}
